@import '~@fluentui/react/dist/sass/References.scss';

.recentlyVisitedSites {
  .list {
    @include ms-Grid-row;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .site {
    @include ms-Grid-col;
    @include ms-sm12;

    a {
      display: block;
      padding: 5px 12px;

      &:hover {
        background-color: "[theme: neutralTertiary, default: #FFF]";
      }
    }
  }

  .noSites {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }
}
