@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.indexNavigation {
    margin-bottom: 1em;
    ul{
        white-space: normal !important;
        button:last-child{
            font-weight: 600;
        }
    }
}