@import '~office-ui-fabric-react/dist/sass/References.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.clockContainer {
  position: relative;
  width: 20%;
  overflow: hidden;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;

  &.styling{
    box-shadow: 0px 0px 10px #888888;
    border-radius: 50%;
    min-width: 100px;
    margin-top: 1%;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.clockContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .backgroundNumbers {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 1;
    .numbers {
      fill: grey;
    }
  }

  .indicator {
    border-radius: 10px;
    transform-origin: bottom;
    outline: 1px solid transparent; // Firefox fix on rotation
    position: absolute;
    bottom: 50%;

    &.secondsIndicator {
      width: 0.5%;
      height: 37.5%;
      z-index: 2;
      background-color: #dfc48c;
      &.transitionEffect {
      }
    }

    &.minutesIndicator {
      width: 1%;
      height: 30%;
      z-index: 3;
      background-color: #cd6a51;
      &.transitionEffect {
      }
    }

    &.hoursIndicator {
      width: 1.5%;
      height: 22.5%;
      z-index: 4;
      background-color: #8f9c6c;
      &.transitionEffect {
      }
    }
  }

  .indicatorCover {
    position: absolute;
    bottom: 48.5%; /*(50% - (3% /2)) */
    border-radius: 50%;
    width: 3%;
    height: 3%;
    background-color: lightgrey;
    z-index: 5;
  }
}

.digital {
  color: $ms-color-black;
  font-size: 15px;
  margin-top: 2%;
  text-align: center;
}
