@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.worldTime {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-black;
    text-align: center;
    font-weight: bold;
  }
}