@import '~@fluentui/react/dist/sass/References.scss';

.personalContacts {
  .persona {
    margin-bottom: 5px;
  }

  .noContacts {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }
}