@import '~@fluentui/react/dist/sass/References.scss';

.siteInformation {

  .siteInformationContent {
    text-align: left;
  }

  .siteTitle {
    @include ms-font-xl;
    color: $ms-color-black;
    font-weight: bold;
  }

  .siteOrganization {
    @include ms-font-l;
    color: $ms-color-black;
  }

  .siteContact {
    @include ms-font-l;
    color: $ms-color-black;
    margin-top: 5px;
  }
}