@import '~@fluentui/react/dist/sass/References.scss';
.personalEmail {
    --varientBGColor: $ms-color-primary;
    --varientFontColor: black;
    --varientBGHovered: black;
    background-color: var(--varientBGColor);
    color: var(--varientFontColor) !important;
    .title,
    .viewAll,
    .list {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .title * {
        font-size: 20px!important;
        font-weight: 600!important;
        color: var(--varientFontColor) !important;
    }
    button * {
        color: var(--varientFontColor) !important;
    }
    .message {
        display: block;
        padding: 0.5em 10px;
        color: var(--varientFontColor);
        &:hover {
            background: var(--varientBGHovered);
        }
    }
    .from {
        @include ms-font-l;
        @include ms-fontWeight-semibold;
    }
    .subject {
        @include ms-font-s;
        @include ms-fontWeight-semibold;
        font-weight: bold;
        float: left;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .date {
        @include ms-font-s;
        @include ms-fontWeight-semibold;
        font-weight: bold;
        float: right;
        width: 20%;
        text-align: right;
        word-break: keep-all;
    }
    .preview {
        @include ms-font-s;
        @include ms-fontWeight-light;
        clear: both;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .isRead {
        .from {
            @include ms-fontWeight-semilight;
        }
        .subject {
            @include ms-fontWeight-semilight;
        }
        .date {
            @include ms-fontWeight-semilight;
        }
        .preview {
            @include ms-fontWeight-light;
        }
    }
    .noMessages {
        @include ms-font-m;
    }
    .error {
        @include ms-font-m;
        color: $ms-color-alert;
    }
}
