@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.stockInformation {
  .stock {
    .stockSymbol {
      font-size: 2em;
      padding-bottom: 0.2em;
    }

    .iconTrendGreen {
      color: green;
    }

    .iconTrendRed {
      color: red;
    }

    .iconTrendNeutral {
      color: blue;
    }
  }
}