@import '~office-ui-fabric-react/dist/sass/References.scss';

.stockInformation {
  .stock {
    border: 1px solid;
    border-color: $ms-color-neutralLight;
    padding: 16px;
    position: relative;

    .stockSymbol {
      color: $ms-color-themePrimary;
      @include ms-font-m-plus;
      @include ms-fontWeight-semibold;
      margin-bottom: 12px;
    }

    .stockTrend, .stockValue {
      @include ms-font-m-plus;
      @include ms-fontWeight-semibold;
      padding-right: 0.5em;
    }

    .stockInfo {
      @include ms-font-s;
      color: $ms-color-neutralSecondary;
      margin-top: 4px;

      span {
        padding-right: 0.85em;
      }
    }

    .more {
      position: absolute;
      bottom: 14px;
      right: 14px;
      color: $ms-color-themePrimary;
      @include ms-font-m;
      @include ms-fontWeight-semibold;
    }
  }
}
