@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.stockInformation {
  .stock {
    font-size: 40px;
    text-align: center;
    vertical-align: -webkit-baseline-middle;

    .stockSymbol {
      font-size: 0.5em;
      padding-bottom: 0.2em;
    }

    .stockTrend {
      margin-top: 0.2em;
    }

    .stockValue {
      padding-left: 0.2em;
    }
  }
}