@import '~office-ui-fabric-react/dist/sass/References.scss';

$neutralLight: "[theme:neutralLight, default: #eaeaea]";

.calloutCard{
  padding: 1rem;
  h1{
    border-bottom: 1px solid $neutralLight;
    margin: 0;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
  }
}
.PeopleCallout{
  list-style: none;
  margin: 0;
  max-width: 18rem;
  padding-left: 0;
  .info{
    padding: .5rem 0;
  }
  li{
    align-items: center;
    display: flex;
    position: relative;
    &.fl_column{
      align-items: flex-start;
      flex-direction: column;
    }
    a{
      outline: none;
      display: block;
      padding-right: 1rem;
      width: 100%;
      &:hover{
        + .clipboard{
          opacity: 1;
          transform: translateX(1rem);
          transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
          will-change: opacity, transform;
        }
      }
    }
    i{
      display: inline-flex;
      cursor: pointer;
      margin-right: .5rem;
      position: relative;
      &.clipboard{
        border: 1px solid "[theme:themePrimary, default: #0078d7]";
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
        opacity: 0;
        padding: .75rem;
        position: absolute;
        right: 0;
        transform: translateX(0);
        transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
        top: 0;
        will-change: opacity, transform;
        &:hover{
          opacity: 1;
          transform: translateX(1rem);
          transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
          will-change: opacity, transform;
        }
      }
    }
  }
}
