@import '~office-ui-fabric-react/dist/sass/References.scss';


.classificationHeader {

    .classificationContainer {
        color: $ms-color-black;
        background-color: lightgray;
    }

    .classificationIcon {
        margin-left: 5px;
    }

    .classification, .classificationCaption {
        @include ms-font-m;
        margin-left: 5px;
        margin-top: 2x;
        margin-bottom: 2px;
    }
}
