@import '~office-ui-fabric-react/dist/sass/References.scss';

.persona_card{
  align-items: center;
  border: 1px solid "[theme:neutralLight, default: #eaeaea]";
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  @media (min-width: $ms-screen-min-lg){
    max-width: 50%;
  }
  .persona{
    align-items: center;
    display: inline-flex;
    height: 1.4rem;
    justify-content: center;
    position: absolute;
    right: 1rem;
    width: 1.4rem;
    i{
      color: "[theme:themeSecondary, default: #2b88d8]";
      cursor: pointer;
      font-size: 1.4rem;
    }
  }
  .callout {
    display: hidden;
  }
  .calloutShow {
    display: block;
  }
}
