@import '~office-ui-fabric-react/dist/sass/References.scss';

.personalEmail {
  .title, .viewAll, .newEmail {
    padding-left: 10px;
  }

  .list {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .message {
    display: block;
    padding: 0.5em 10px;
    color: $ms-color-black;

    &:hover {
      color: inherit;
      background: $ms-color-neutralLight;
    }
  }

  .from {
    @include ms-font-l;
    @include ms-fontWeight-semibold;
  }

  .subject {
    @include ms-font-s;
    @include ms-fontWeight-semibold;
    color: $ms-color-themePrimary;
    float: left;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .date {
    @include ms-font-s;
    @include ms-fontWeight-semibold;
    color: $ms-color-themePrimary;
    float: right;
    width: 20%;
    text-align: right;
    word-break: keep-all;
  }

  .preview {
    @include ms-font-s;
    @include ms-fontWeight-light;
    clear: both;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .isRead{
    .from {
      @include ms-fontWeight-semilight;
    }

    .subject {
      @include ms-fontWeight-semilight;
    }

    .date {
      @include ms-fontWeight-semilight;
    }

    .preview {
      @include ms-fontWeight-light;
    }
  }

  .noMessages {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }
}
