@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.myLinksDialogRoot {
  .myLinksDialogContent {
      text-align: left;
      vertical-align: top;

      .editPanel {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .textField {
        width: 250px;
      }
      .dialogActions {
        position: relative;
        width: 100%;
        min-height: 24px;
        line-height: 24px;
        margin: 20px 0 0;
        font-size: 0;
      }
      .actionsRight {
        margin-right: -4px;
        text-align: right;
        font-size: 0;
      }
      .action{
        margin: 0px 4px;
      }

  }
}
