@import '~office-ui-fabric-react/dist/sass/References.scss';

.myLinksDialogRoot {
  .myLinksDialogContent {
      text-align: left;
      vertical-align: top;

      .editPanel {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .textField {
        width: 250px;
      }

      .grid {
        @include ms-Grid;

        .gridRow {
          @include ms-Grid-row;

          .gridColumn {
            @include ms-Grid-col;
            @include ms-sm12;
            @include ms-md12;
            @include ms-lg12;
          }
        }
      }
  }
}
